
/* File Name: style.less
Date: 5/24/2017
Programmer: Cynthia Smith */

@import 'palette.less';
@import 'fonts.less';
@import 'mixinlibrary.less';

// MOBILE STYLESHEET

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

    body {
        margin-top: 50px;
        
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/


#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */



.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
    
}

    header {
          padding: 0px 0px 0px 0px;  
  
     
        }
        
        .AIH {
             background-image: url("images/AIHlogo4.png");
            background-repeat: no-repeat;
            padding: 120px 0 60px 0;
            margin-top: 60px;
          
        }
        .menu-btn {
            
        }
    #black {
        
            margin-top: 0px;
        padding: 0 0 0 0;
        }
        header {
            
        }
         /*registration page*/
        #registration {
            padding: 60px 40px 60px 60px;
            background-image: url(images/whitemarble.jpg);
            background-repeat: no-repeat;
            background-color: #ffffff;
        
        }

    form {

        padding: 10px;
        padding-top: 35px;
    }
        #events 
        {
           
        }
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} 

li a {
    display: block;
}
        
        @media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: ;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 10px;
        overflow-x: hidden;
        padding: 40px 0 160px 0;
    }
       .navbar-nav>li>a {
            padding: 160px 0px 0px 30px;
}
    .col-sm-9 {
        padding: 70px 0 0 0;
    }        
    .col-sm-3 {
        width: 20%;
    }
    .side-nav>li>a {
        width: 700px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
      .navbar-nav>li>a {
        padding-top: 50px;
        padding-bottom: 15px;
            }
}
        @media(min-width: 1024px) {
    .side-nav {
        position: fixed;
        top: ;
        left: 225px;
        width: 240px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 10px;
        overflow-x: hidden;
        padding-bottom: 40px;
     }    
         .navbar-nav>li>a {
            padding: 100px 0px 0px 80px;
}
        }

    table {
        color: #333;
        width: 100%;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
       
     main {
            padding: 0 0 60px 0px;
          
        }
/*contact form
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/*end contact form*/
        
        footer {
            background-color: #000000;
            color: #fff;
            padding: 0 0 60px 0px;
            margin: 0;
           
        }
  
       
        @media(min-width: 1440px) {
    .side-nav {
        position: fixed;
      
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        bottom: 0px;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
        .navbar-nav>li>a {
        padding-top: 40px;
        padding-bottom: 15px;
            }
        .side-nav>li>a {
    /* width: 100px; */
    border-bottom: 1px rgba(0,0,0,.3) solid;
    padding: 100px 0 0 30px;
    
}
       
    }
        
        @media(min-width: 2560px) {
    .side-nav {
        position: fixed;
      
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        bottom: 0px;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
        .navbar-nav>li>a {
        padding-top: 40px;
        padding-bottom: 15px;
            }
            .col-sm-3 {
                width: 25%;
            }
        .col-sm-5 {
    width: 25%;
}
    .side-nav>li>a {
        width: 500px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
        }
        #registration {
           padding: 60px 450px 60px 60px;  
            
        }
 
    }


       
